.text-success {
    text-decoration-color: lightgreen;
  }
  
  .text-warning {
    text-decoration-color: orange;
  }
  
  .text-primary {
    text-decoration-color: blue;
  }
  
  .text-danger{
    text-decoration-color: red;
  }
  
  

  